* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin jumboTitle {
    font: 900 5rem $font-family;
}

@mixin title {
    font: map-get($font-weight, "L") map-get($font-size, "L") $font-family;
}

@mixin subtitle {
    font: map-get($font-weight, "M") map-get($font-size, "M") $font-family;
}

@mixin body {
    font: map-get($font-weight, "S") map-get($font-size, "S") $font-family;
}

@mixin transition($duration: 0.5s) {
    transition: all $duration ease-in-out;
}

// @mixin link {
//     color: $color-3;
//     text-decoration: none;
//     @include body;

//     &:hover {
//         color: $color-2;
//     }
// }

@mixin button {
    border: none;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    @include body;
}

@mixin input {
    border: solid rgba(#ffffff, 0.5);
    border-radius: 30px;
    padding: 10px 20px;
    outline: none;
    color: #ffffff;
    background: transparent;
    @include body;
}