@import "variables";
@import "config";

body {
    min-width: 800px;
    min-height: 100vh;
    overflow: scroll;
    color: #ffffff;
    @include body;

    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        @include title;
    }

    form {

        #search-input {
            border: solid rgba(#ffffff, 0.5);
            border-radius: 30px;
            padding: 10px 20px;
            outline: none;
            color: #ffffff;
            background: transparent;
            @include body;
        }

        #search-btn {
            margin: 0 8px;
            @include button;
        }

        #current-location-btn {
            @include button;

            &:hover {
                animation: animate 1s ease-in-out infinite;
            }
        }
    }
}

main {
    margin: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

    #clock {
        margin: 20px 0;
        min-width: 600px;
        min-height: 300px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        #time {
            margin-bottom: 5px;
            padding: 10px 20px;
            @include title;
        }

        #day,
        #month,
        #date,
        #year {
            padding: 10px 20px;
        }
    }

    .weather {
        margin: 20px 0;
        text-align: center;

        #city {
            @include title;
        }

        #temperature {
            margin: 20px 0;
            @include title;
        }

        #weather {
            @include subtitle;
        }
    }

    #map {
        margin: 20px 0;
    }
}

footer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}