@import "variables";
@import "config";

body {
    // min-width: 700px;
    min-height: 100vh;
    overflow: scroll;
    color: #ffffff;
    @include body;

    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        @include title;
    }

    form {
        #search-input {
            @include input;
        }

        #search-btn {
            @include button;
        }

        #current-location-btn {
            @include button;

            &:hover {
                animation: animate 1s ease-in-out infinite;
            }
        }
    }
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .clock {
        margin: 20px 0;
        text-align: center;

        #time {
            margin-bottom: 5px;
            border-radius: 10px;
            padding: 10px 20px;
            background: $color-1;
            @include title;
        }

        #day,
        #month,
        #date,
        #year {
            display: inline-block;
            border-radius: 10px;
            padding: 10px 20px;
            background: $color-1;
        }
    }

    .weather {
        margin: 100px 0;
        text-align: center;

        #city {
            @include title;
        }

        #temperature {
            margin: 10px;
            color: $color-2;
            @include jumboTitle;
        }

        #weather {
            @include subtitle;
        }
    }
}

footer {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}