@import "variables";
@import "config";

body {
    min-width: 500px;
    min-height: 100vh;
    overflow: scroll;
    display: grid;
    grid-template-rows: 5rem auto 3rem;
    grid-template-columns: auto;
    gap: 20px;
    color: #ffffff;
    @include body;

    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        margin: 0 20px;
        @include title;
    }

    form {
        margin: 0 20px;

        #search-input {
            @include input;
        }

        #search-btn {
            margin: 0 8px;
            @include button;
        }

        #current-location-btn {
            @include button;

            &:hover {
                animation: animate 1s ease-in-out infinite;
            }
        }
    }
}

main {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

    .clock {
        margin: 20px;
        text-align: center;

        #time {
            margin-bottom: 5px;
            border-radius: 10px;
            padding: 10px 20px;
            background: rgba(#000000, 0.5);
            @include title;
        }

        #day,
        #month,
        #date,
        #year {
            display: inline-block;
            border-radius: 10px;
            padding: 10px 20px;
            background: rgba(#000000, 0.5);
        }
    }

    .weather {
        margin: 20px;
        text-align: center;

        #city {
            @include title;
        }

        #temperature {
            margin: 20px 0;
            @include title;
        }

        #weather {
            @include subtitle;
        }
    }
}

footer {
    grid-area: 3 / 1 / span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}